# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotib
4. Seaborn
5. Keras

### Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook|
| Apache Spark |
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [33]:
# This a simple arithmetic expression to mutiply then add integers.

int= (3*4) + 5
print (int)

17

In [41]:
# This will convert 200 minutes to hours by diving by 60

int= (200/60)
print (int)

3.3333333333333335

**Objectives**: 
- List of popular languages for Data Science 
- List of commonly used libraries used by Data Scientist
- Table of Data Science Tools
- Examples of evaluating arithmetic expressions in Python

## Author

Walia Hoque